p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

#custom-notification {
  font-family: Arial, sans-serif;
  border-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 20px;
  right: 20px;
  border-left: 6px solid black;
  padding: 15px;
  z-index: 1000;
  background-color: white;
  width: 400px;
  height: 220px;
}

#acknowledge-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
}

#dismiss-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}

#close-notif-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}